.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
}

.dateContainer div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  background: var(--teal);
  padding: 0.75em;
  border-radius: 40px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.dateContainer span {
  font-weight: 700;
}

.arrow {
  font-size: 1.125rem;
}

.locationsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1.25rem;
  font-weight: 700;
  background: var(--teal);
  padding: 0.75em;
  border-radius: 40px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.resultsContainer {
  background: var(--teal);
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.container h2 {
  margin-bottom: 0.3em;
}

.resultsContainer span {
  display: block;
  text-align: center;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  background: var(--green);
  width: 325px;
  padding: 0.25em;
  margin-top: 0.75em;
  border: 4px solid black;
  border-radius: 40px;
}

.button:hover {
  background: rgba(75, 220, 176, 0.3);
  border: 4px solid var(--green);
}
