.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: center;
}

.container label {
  font-size: 1.25rem;
  font-weight: 700;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.3em;
  border: 4px solid black;
  border-radius: 40px;
}

.counter:hover,
.counter:focus {
  border: 4px solid var(--green);
}

.counter button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 2.25rem;
  padding-bottom: 0.15em;
  color: var(--off-white);
  background: black;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
}

.counter button:hover {
  background-color: var(--green);
}

.counter span {
  font-size: 1.5rem;
  font-weight: 700;
}
