.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  place-content: center;
}

.container img {
  width: 400px;
  margin-top: -2em;
}

.container a {
  text-decoration: none;
}

.button {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  background: var(--green);
  width: 325px;
  margin: -2em auto 0;
  padding: 0.5em;
  border: 4px solid black;
  border-radius: 40px;
}

.button:hover {
  background: rgba(75, 220, 176, 0.6);
  border: 4px solid var(--green);
}
