* {
  box-sizing: border-box;
}

:root {
  --off-white: #f2ffff;
  --green: #4bdcb0; /* rgb(75, 220, 176) */
  --teal: #bbf7f7;
}

html {
  background-color: #023b4d;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background: var(--off-white);
  height: 100vh;
  width: 400px;
  margin: 0 auto;
  padding: 1em;
  border: 4px solid black;
  border-radius: 25px;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
